---
layout: default
title: Visiting GitLab
suppress_header: true
extra_css:
  - visiting.css
---

<div class="wrapper">
  <div class="image-title">
    <div class="color-bg">
      <div class="header-text">
        <h1>VISIT OUR <b>HEADQUARTERS</b></h1>
        <p>
          While our employees work remotely most of the time, we have a beautiful office in the heart of San Francisco. We'd love to have you visit!
        </p>
      </div>
      <div class="container">
      </div>
    </div>
  </div>

    <div class="sub-wrapper">
    <div class="container">
      <div class="row maps">
        <div class="col-xs-1 col-md-1"></div>
        <div class="col-xs-12 col-md-5">
          <h2>Our Office Location</h2>
          <div class="tabbed-text">
            1233 Howard St 2F
            <br>
            San Francisco, CA 94103
            <br>
            United States of America
            <br>
            <br>
            Above Mike's Bikes
            <br>
            Two blocks from Civic Center BART
            <br>
            Four blocks from 7th street exit from I-80 E / US-101 N
          </div>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25228.634779245152!2d-122.4116791320801!3d37.776460459249925!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858082b89f30bd%3A0x2c491850865dba9c!2s1233+Howard+St%2C+San+Francisco%2C+CA+94103!5e0!3m2!1sen!2sus!4v1440018629173" width="350" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-6 col-md-1"></div>
      </div>

      <hr class="divider" />

      <div class="row access">
        <div class="col-xs-6 col-md-1"></div>
        <div class="col-xs-6 col-md-4 txt-middle hidden-sm hidden-xs">
          <img src="/images/office-location.jpg" alt="" />
        </div>
        <div class="col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-xs-12 col-md-6">
          <h2>Accessing the Office</h2>
            <ul>
              <li>Enter the building through the double doors between the two Mike's Bikes locations.</li>
              <li>On the intercom press the call button then press '206' (for GitLab) to have us buzz you in. <small>Note to team members: press 0 to open the door from our cordless phones.</small></li>
              <li>Proceed to the elevator at the rear of the foyer and go to the 2nd floor (strangely the elevator will show 3 when you stop at 2).</li>
              <li>Exit the elevator and proceed to the right. The unit is the last door on the right at the end of the hall (2F).</li>
            </ul>
        </div>
      </div>

      <hr class="divider" />

      <div class="row team">
        <div class="col-xs-1 col-md-1"></div>
        <div class="col-xs-12 col-md-5">
          <h2>A not so typical day at the office</h2>
          <div class="tabbed-text">
            Here at GitLab, we work remotely, but we all have the option of working in the office.
            Most of the time, only a few people are at the office, but on this day, we all coordinated to come into the office together.
          </div>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs">
          <img src="/images/office.jpg" alt="" />
        </div>
        <div class="col-xs-6 col-md-1"></div>
      </div>

      <hr class="divider" />

    </div>
  </div>
</div>