<p>
CUSTOMER’S CONTINUED USE OF THE SOFTWARE OR ANY LICENSED MATERIALS PROVIDED BY GITLAB INC. (“GITLAB”) SHALL ALSO CONSTITUTE ASSENT TO THE TERMS OF THIS AGREEMENT.
IF CUSTOMER DOES NOT UNCONDITIONALLY AGREE TO ALL OF THE TERMS OF THIS AGREEMENT, CLICK THE "CANCEL" BUTTON AND THE DOWNLOAD OF THE INSTALLATION KEYS WILL NOT CONTINUE.
IF THESE TERMS ARE CONSIDERED AN OFFER, ACCEPTANCE IS EXPRESSLY LIMITED TO THESE TERMS.
IF YOU ARE EXECUTING THIS AGREEMENT ON BEHALF OF AN ORGANIZATION, YOU REPRESENT THAT YOU HAVE AUTHORITY TO DO SO.
</p>

    <h3>1. LICENSE AND SUPPORT</h3>
      <p>
       1.1 Subject to the terms and conditions of this Agreement, GitLab hereby grants to Customer a limited, non-exclusive, non-transferable, non-sublicensable license for Customers employees and contractors to (1)internally (a) use, reproduce, modify, prepare derivative works based upon, and display the code of GitLab Enterprise Edition (as described at https://about.gitlab.com/features/#enterprise) at the tier level selected by Customer with the specifications generally promulgated by GitLab from time to time (the “Software”) solely (i) for its internal use in connection with the development of Customer’s own software, and (ii) by the number of internal users for which Customer has paid GitLab; and (b) use the documentation, training materials or other materials supplied by GitLab (the “Other GitLab Materials”); and (2) modify the Software and publish patches to the Software, solely by the number of internal users for which Customer has paid GitLab.  Notwithstanding anything to the contrary, Customer agrees that GitLab and/or its licensors (as applicable) retain all right, title and interest in and to all Software incorporated in such modifications and/or patches, and all such Software may only be used, copied, modified, displayed, distributed, or otherwise exploited in full compliance with this Agreement, and with a valid GitLab Enterprise Edition subscription for the correct number of user seats. (The Software and Other GitLab Materials are collectively referred to herein as the “Licensed Materials.”).
       (The Software and Other GitLab Materials are collectively referred to herein as the “Licensed Materials.”).
      </p>
      <p>
      1.2 Subject to the terms hereof, GitLab will provide reasonable support to Customer for the Licensed Materials as outlined below.
      </p>
    <strong>1.2.1 Enterprise Edition</strong>
      <p>
        GitLab aims to respond to support questions by phone or email during the
        next business day at the latest. The number of support questions is not limited.
      </p>
    <strong>1.2.2 Premium Support</strong>
       <p>
         Premium support includes the support provided under Enterprise Edition,
         as well as: GitLab will help Customer to install and configure
         the Licensed Materials and provide remote assistance during upgrades during regular
         business hours; support for GitLab Continuous Integration (CI) and High Availability
         (HA) configurations; dedicated service engineering resources will also be assigned
         to Customer. GitLab aims to respond to Emergency (as defined in section 1.2.3) support
         questions communicated via the appropriate channel within 30 minutes, 24 hours per
         day, 365 days per year. The number of Emergency support questions is not limited.
      </p>
    <strong>1.2.3 Emergency</strong>
      <p>
        An Emergency is defined as either, (i) the Customer's production
        system is down or not functioning, or Customer has experienced loss of production
        data where no workaround is possible; or (ii) Customer's system is functioning in a
        severely reduced capacity and the problem is causing significant impact to Customer's
        operations and productivity, or Customers system is exposed to a potential loss of
        data or interruption of service.
      </p>

    <h3>2. RESTRICTIONS AND RESPONSIBILITIES</h3>
      <p>
        2.1 Except as expressly authorized in Section 1.1, Customer will not, and will not permit any third party to: use the Licensed Materials for any purpose other than as specifically authorized in Section 1, or in such a manner that would enable any unlicensed person to access the Licensed Materials; use the Licensed Materials or any other GitLab software for timesharing or service bureau purposes or for any purpose other than its own internal use (including without limitation, sublicensing, distributing, selling, reselling any of the foregoing); except as expressly permitted herein; use the Licensed Materials in connection with any high risk or strict liability activity (including, without limitation, space travel, firefighting, police operations, power plant operation, military operations, rescue operations, hospital and medical operations or the like); use the Licensed Materials or software other than in accordance with this Agreement and in compliance with all applicable laws and regulations (including but not limited to any privacy laws, and laws and regulations concerning intellectual property, consumer and child protection, obscenity or defamation); or use the Licensed Materials in any manner that (1) is harmful, fraudulent, deceptive, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, or libelous (including without limitation, accessing any computer, computer system, network, software, or data without authorization, breaching the security of another user or system, and/or attempting to circumvent any user authentication or security process), (2) impersonates any person or entity, including without limitation any employee or representative of GitLab, or (3) contains a virus, trojan horse, worm, time bomb, unsolicited bulk, commercial, or “spam” message, or other harmful computer code, file, or program (including without limitation, password guessing programs, decoders, password gatherers, keystroke loggers, cracking tools, packet sniffers, and/or encryption circumvention programs).
      </p>
      <p>
        2.2 Customer will cooperate with GitLab in connection with the performance of this Agreement by making available such personnel and information as may be reasonably required, and taking such other actions as GitLab may reasonably request.
        Customer will also cooperate with GitLab in establishing a password or other procedures for verifying that only designated employees of Customer have access to any administrative functions of the Licensed Materials.
        Customer shall maintain during the term of this Agreement and  through the end of the third year after the date on which the final payment is made under this Agreement, books, records, contracts and accounts relating to the payments due GitLab under this Agreement (collectively, the “Customer Records”).
        GitLab may, at its sole expense, upon 30 days’ prior written notice to Customer and during Customer’s normal business hours and subject to industry-standard confidentiality obligations, hire an independent third party auditor to audit the Customer Records only to verify the amounts payable under this Agreement.
        If an audit reveals underpayment, then Customer shall promptly pay the deficiency to GitLab plus late fees pursuant to Section 5.2.
        GitLab shall bear the cost of an audit unless the audit reveals underpayment by more than 5%, in which case Customer shall promptly pay Customer for the cost of the audit.
      </p>
      <p>
        2.3 Customer will be responsible for maintaining the security of Customer’s account, passwords (including but not limited to administrative and user passwords) and files, and for all uses of Customer account with or without Customer’s knowledge or consent.
      </p>

    <h3>3. CONFIDENTIALITY</h3>
      <p>
        3.1 Each party (the “Receiving Party”) understands that the other party (the “Disclosing Party”) has disclosed or may disclose information relating to the Disclosing Party’s technology or business (hereinafter referred to as “Proprietary Information” of the Disclosing Party).
        Without limiting the foregoing, the Licensed Materials are GitLab Proprietary Information.
      </p>
      <p>
        3.2 The Receiving Party agrees: (i) not to divulge to any third person any such Proprietary Information, (i) to give access to such Proprietary Information solely to those employees with a need to have access thereto for purposes of this Agreement, and (iii) to take the same security precautions to protect against disclosure or unauthorized use of such Proprietary Information that the party takes with its own proprietary information, but in no event will a party apply less than reasonable precautions to protect such Proprietary Information.
        The Disclosing Party agrees that the foregoing will not apply with respect to any information that the Receiving Party can document (a) is or becomes generally available to the public without any action by, or involvement of, the Receiving Party, or (b) was in its possession or known by it prior to receipt from the Disclosing Party, or (c) was rightfully disclosed to it without restriction by a third party, or (d) was independently developed without use of any Proprietary Information of the Disclosing Party.
        Nothing in this Agreement will prevent the Receiving Party from disclosing Proprietary Information pursuant to any judicial or governmental order, provided that the Receiving Party gives the Disclosing Party reasonable prior notice of such disclosure to contest such order.
        In any event, GitLab may collect data with respect to and report on the aggregate response rate and other aggregate measures of the Licensed Materials’ performance and Customer’s usage of the Licensed Materials; provided that GitLab will not identify Customer as the source of any such data without Customer’s prior written consent.
      </p>
      <p>
        3.3 Each party acknowledges and agrees that the other may suffer irreparable damage in the event of a breach of the terms of Sections 1.1, 2.1 or 3.2 of this Agreement and that such party will be entitled to seek injunctive relief (without the necessity of posting a bond) in the event of any such breach.
      </p>
      <p>
        3.4 Both parties will have the right to disclose the existence but not the terms and conditions of this Agreement, unless such disclosure is approved in writing by both Parties prior to such disclosure, or is included in a filing required to be made by a party with a governmental authority (provided such party will use reasonable efforts to obtain confidential treatment or a protective order) or is made on a confidential basis as reasonably necessary to potential investors or acquirors.
      </p>

    <h3>4. INTELLECTUAL PROPERTY RIGHTS</h3>
      <p>
        4.1 Except as expressly set forth herein, GitLab alone (and its licensors, where applicable) will retain all intellectual property rights relating to the Licensed Materials and any suggestions, ideas, enhancement requests, feedback, code, recommendations or other information provided by Customer or any third party relating to the Licensed Materials, which are hereby assigned to GitLab.
        Customer will not copy, distribute, reproduce or use any of the foregoing except as expressly permitted under this Agreement.
        This Agreement is not a sale and does not convey to Customer any rights of ownership in or related to the Licensed Materials, or any intellectual property rights.
      </p>
      <p>
        4.2 Customer shall not remove, alter or obscure any of GitLab’s (or its licensors’) copyright notices, proprietary legends, trademark or service mark attributions, patent markings or other indicia of GitLab’s (or its licensors’) ownership or contribution from the Licensed Materials.
        Additionally, Customer agrees to reproduce and include GitLab’s (and its licensors’) proprietary and copyright notices on any copies of the Licensed Materials, or on any portion thereof, including reproduction of the copyright notice.
        Notwithstanding anything to the contrary herein, any part of the Licensed Materials distributed by GitLab as part of the GitLab Community Edition (as described at https://about.gitlab.com/features/#community) is licensed under the terms of the MIT License, available at http://opensource.org/licenses/MIT.
      </p>
      <p>
        4.3 Customer and its licensors shall (and Customer hereby represents and warrants that they do) have and retain all right, title and interest (including, without limitation, sole ownership of) all software, information, content and data provided by or on behalf of Customer or made available or otherwise distributed through use of the Licensed Materials (“Content”) and the intellectual property rights with respect to that Content.
        If GitLab receives any notice or claim that any Content, or Customer’s activities hereunder (including without limitation, with respect to any Content), infringes or violates the rights of a third party or any applicable law or regulation (a “Claim”), Customer will indemnify, defend and hold GitLab harmless from all liability, damages, settlements, attorney fees and other costs and expenses in connection with any such Claim, as incurred.
        The immediately foregoing indemnity obligations are expressly conditioned on GitLab providing Customer with prompt notice of, and reasonable cooperation and sole control over the defense and/or settlement of the applicable Claim.
        Subject to the foregoing, GitLab may participate in the defense and/or settlement of any applicable Claim with counsel of its choosing at its own expense.
      </p>
      <p>
        4.4 GitLab will defend, indemnify and hold Customer harmless from liability and other amounts paid or payable to unaffiliated third parties resulting from (i) the infringement or violation of any intellectual property or proprietary rights by the Licensed Materials or (ii) the violation of applicable law or regulation by GitLab in performance of its obligations hereunder, provided GitLab is promptly notified of any and all threats, claims and proceedings related thereto and given reasonable assistance and the opportunity to assume sole control over defense and settlement thereof.
        Subject to the foregoing, Customer may participate in the defense and/or settlement of any claim that is indemnifiable by GitLab with counsel of its choosing at its own expense.
        The foregoing obligations do not apply with respect to portions or components of the Licensed Materials (i) not created by GitLab, (ii) that are modified after delivery by GitLab, (iii) combined with other products, processes or materials where the alleged infringement relates to such combination, (iv) where Customer continues allegedly infringing activity after being notified thereof or after being informed of modifications that would have avoided the alleged infringement, or (v) where Customer’s use of the Licensed Materials is not strictly in accordance with this Agreement and all related documentation.
      </p>

    <h3>5. PAYMENT OF FEES</h3>
      <p>
        5.1 Customer will pay GitLab the applicable fees as set forth at https://about.gitlab.com/pricing/ (the “Pricing”) for the Licensed Materials selected and/or used by Customer (the “Fees”) without any right of set-off or deduction.
        To the extent applicable, Customer will pay GitLab for additional services, such as integration fees or other consulting fees.
        Customer agrees to pay a retroactive charge of half a year for any users added during the past year over and above their licensed total
      </p>
      <p>
        5.2 All payments will be made in accordance with the payment schedule and the method of payment set forth in the Pricing.
        If not otherwise specified, payments will be due within thirty (30) days of invoice.
        Except as described in this Section, all Fees paid and/or due hereunder (including any prepaid amounts) are non-refundable, including without limitation if this Agreement is terminated in accordance with Section 6 below.
        If Customer terminates this Agreement pursuant to Section 6.2 within 45 calendar days from receipt of the initial invoice for the Licensed Materials, GitLab will refund all Fees paid hereunder.
      </p>
      <p>
        5.3 Unpaid Fees are subject to a finance charge of one percent (1.0%) per month, or the maximum permitted by law, whichever is lower, plus all expenses of collection, including reasonable attorneys’ fees.
        Fees under this Agreement are exclusive of all taxes, including national, state or provincial and local use, sales, value-added, property and similar taxes, if any.
        Customer agrees to pay such taxes (excluding US taxes based on GitLab's net income) unless Customer has provided GitLab with a valid exemption certificate.
        In the case of any withholding requirements, Customer will pay any required withholding itself and will not reduce the amount paid to GitLab on account thereof.
      </p>

    <h3>6. TERMINATION</h3>
      <p>
        6.1 This Agreement shall continue until terminated in accordance with this Section 6.
      </p>
      <p>
        6.2 Customer may terminate this Agreement at any time upon written notice to GitLab.
        Each party may terminate this Agreement immediately upon 15 days’ written notice to the other party in the event of any material breach of this Agreement (including without limitation, any breach of Section 2.2 and/or failure to pay any amounts when due hereunder) by such party where such material breach is not cured during such notice period.
        GitLab may terminate this Agreement immediately upon 30 days’ written notice to Customer in the event that Customer does not comply with written specifications or instructions from GitLab’s service engineers (including without limitation, failure to make backups of Customer’s GitLab Enterprise Edition instance), and does not cure such noncompliance within the notice period.
      </p>
      <p>
        6.3 Either party may terminate this Agreement, without notice, (i) upon the institution by or against the other party of insolvency, receivership or bankruptcy proceedings (provided such proceedings are not dismissed within one hundred twenty (120) days of such institution), (ii) upon the other party's making an assignment for the benefit of creditors, or (iii) upon the other party's dissolution or ceasing to do business without a successor.
      </p>
      <p>
        6.4 Customer’s rights to the Licensed Materials, and any licenses granted hereunder, shall terminate upon any termination of this Agreement.
        The following Sections will survive any termination of this Agreement: 2 through 6 (except for Section 4.3), and 8 through 11.
      </p>

    <h3>7. WARRANTY; CLIENT SOFTWARE SECURITY</h3>
      <p>
        GitLab represents and warrants that (i) it has all rights and licenses necessary for it to perform its obligations hereunder, and (ii)  it will not knowingly include, in any GitLab software released to the public and provided to Customer hereunder, any computer code or other computer instructions, devices or techniques, including without limitation those known as disabling devices, trojans, or time bombs, that are intentionally designed to disrupt, disable, harm, infect, defraud,  damage, or otherwise impede in any manner, the operation of a network, computer program or computer system or any component thereof, including its security or user data.
        If, at any time, GitLab fails to comply with the warranty in this Section, Customer may promptly notify GitLab in writing of any such noncompliance.
        GitLab will, within thirty (30) days of receipt of such written notification, either correct the noncompliance or provide Customer with a plan for correcting the noncompliance.
        If the noncompliance is not corrected or if a reasonably acceptable plan for correcting them is not established during such period, Customer may terminate this Agreement as its sole and exclusive remedy for such noncompliance.
      </p>

    <h3>8. WARRANTY DISCLAIMER</h3>
      <p>
        THE LICENSED MATERIALS, SOFTWARE AND GITLAB PROPRIETARY INFORMATION AND ANYTHING PROVIDED IN CONNECTION WITH THIS AGREEMENT ARE PROVIDED "AS-IS," WITHOUT ANY WARRANTIES OF ANY KIND.
        GITLAB AND ITS LICENSORS HEREBY DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, ALL IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
      </p>

    <h3>9. LIMITATION OF LIABILITY</h3>
      <p>
        IN NO EVENT WILL EITHER PARTY OR THEIR LICENSORS BE LIABLE FOR ANY INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF THE LICENSED MATERIALS OR ANYTHING PROVIDED IN CONNECTION WITH THIS AGREEMENT, ANY DELAY OR INABILITY TO USE THE LICENSED MATERIALS OR ANYTHING PROVIDED IN CONNECTION WITH THIS AGREEMENT OR OTHERWISE ARISING FROM THIS AGREEMENT, INCLUDING WITHOUT LIMITATION, LOSS OF REVENUE OR ANTICIPATED PROFITS OR LOST BUSINESS OR LOST SALES, WHETHER BASED IN CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY, OR OTHERWISE, EVEN IF SUCH PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES.
        THE TOTAL LIABILITY OF EACH PARTY AND ITS LICENSORS, WHETHER BASED IN CONTRACT, TORT (INCLUDING NEGLIGENCE OR STRICT LIABILITY), OR OTHERWISE, WILL NOT EXCEED, IN THE AGGREGATE, THE GREATER OF (i) ONE THOUSAND DOLLARS ($1,000), OR (ii) THE FEES PAID TO GITLAB HEREUNDER IN ONE YEAR PERIOD ENDING ON THE DATE THAT A CLAIM OR DEMAND IS FIRST ASSERTED.  THE FOREGOING LIMITATIONS WILL APPLY NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY.
      </p>

    <h3>10. U.S. GOVERNMENT MATTERS</h3>
      <p>
        Notwithstanding anything else, Customer may not provide to any person or export or re-export or allow the export or re-export of the Licensed Materials or any software or anything related thereto or any direct product thereof (collectively “Controlled Subject Matter”), in violation of any restrictions, laws or regulations of the United States Department of Commerce, the United States Department of Treasury Office of Foreign Assets Control, or any other United States or foreign agency or authority.
        Without limiting the foregoing Customer acknowledges and agrees that the Controlled Subject Matter will not be used or transferred or otherwise exported or re-exported to countries as to which the United States maintains an embargo (collectively, “Embargoed Countries”), or to or by a national or resident thereof, or any person or entity on the U.S. Department of Treasury’s List of Specially Designated Nationals or the U.S. Department of Commerce’s Table of Denial Orders (collectively, “Designated Nationals”).
        The lists of Embargoed Countries and Designated Nationals are subject to change without notice.
        Use of the Licensed Materials is representation and warranty that the user is not located in, under the control of, or a national or resident of an Embargoed Country or Designated National.
        The Controlled Subject Matter may use or include encryption technology that is subject to licensing requirements under the U.S. Export Administration Regulations.
        As defined in FAR section 2.101, any software and documentation provided by GitLab are “commercial items” and according to DFAR section 252.227‑7014(a)(1) and (5) are deemed to be “commercial computer software” and “commercial computer software documentation.”
        Consistent with DFAR section 227.7202 and FAR section 12.212, any use modification, reproduction, release, performance, display, or disclosure of such commercial software or commercial software documentation by the U.S. Government will be governed solely by the terms of this Agreement and will be prohibited except to the extent expressly permitted by the terms of this Agreement.
      </p>

    <h3>11. MISCELLANEOUS</h3>
      <p>
        If any provision of this Agreement is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that this Agreement will otherwise remain in full force and effect and enforceable.
        This Agreement is not assignable, transferable or sublicensable by either party without the other party’s prior written consent, not to be unreasonably withheld or delayed; provided that either party may transfer and/or assign this Agreement to a successor in the event of a sale of all or substantially all of its business or assets to which this Agreement relates.
        Both parties agree that this Agreement is the complete and exclusive statement of the mutual understanding of the parties and supersedes and cancels all previous written and oral agreements, communications and other understandings relating to the subject matter of this Agreement, and that all waivers and modifications must be in a writing signed or otherwise agreed to by each party, except as otherwise provided herein.
        No agency, partnership, joint venture, or employment is created as a result of this Agreement and neither party has any authority of any kind to bind the other in any respect whatsoever.
        In any action or proceeding to enforce rights under this Agreement, the prevailing party will be entitled to recover costs and attorneys’ fees.
        All notices under this Agreement will be in writing and will be deemed to have been duly given when received, if personally delivered; when receipt is electronically confirmed, if transmitted by facsimile or e-mail; and upon receipt, if sent by certified or registered mail (return receipt requested), postage prepaid.
        GitLab will not be liable for any loss resulting from a cause over which it does not have direct control.
        This Agreement will be governed by the laws of the State of California, U.S.A. without regard to its conflict of laws provisions.
        The federal and state courts sitting in San Francisco County, California, U.S.A. will have proper and exclusive jurisdiction and venue with respect to any disputes arising from or related to the subject matter of this Agreement.
      </p>
